<div>
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
</div>

<div id="interactive-cube" class="mt-4 h-auto"></div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    window.renderInteractiveCube("interactive-cube");
  });
</script>
